h1 {
	
margin-bottom: 15px;
text-align: center;

}



p {

border: 1px solid black;
margin-left: 5px;
	margin-right: 5px;

margin-bottom: 15px;
float: left;
padding: 10px;
overflow: auto;
}

#p1{

background-color: #A52A2A;
width: 410px;




}

#p2 {

background-color: #DEB887;
width: 410px;



}

#p3 {

background-color: #A52A2A;

width: 410px;


}





/********** Large devices  **********/

@media (min-width: 992px) {

#p1 {

width: 30.33%;

}



#p2 {

width: 30.33%;


}
#p3 {

width: 30.33%;


}

}

/********** Medium devices  **********/

@media (min-width: 768px) and (max-width: 991px) {

#p1 {

width: 40%;

}

#p2 {

width: 40%



}
#p3 {

width: 100%

}
body{background-color: yellow;}

}
/********** mobile devices **********/

@media (max-width: 767px) {

#p1 {

width: 100%;

}

#p2 {

width: 100%;


}
#p3 {

width: 100%;


}
body{background-color: gray;}

}
